<template>
  <v-app>
    <v-app-bar app color="indigo darken-4" dark>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title>EUkraine help</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn plain raised link to="/sign-up" v-if="!user">
        Sign up
      </v-btn>

      <v-btn plain raised link to="/sign-in" v-if="!user">
        Sign in
      </v-btn>

      <v-btn plain raised link to="/volunteers" v-if="user && user.type === 'refugee'">
        Volunteers
      </v-btn>

      <v-btn plain raised link to="/request" v-if="user && user.type === 'refugee'">
        Request
      </v-btn>

      <v-btn icon link to="/account" v-if="false">
        <v-icon dark>
          mdi-account
        </v-icon>
      </v-btn>

      <v-btn plain raised link @click="logout" v-if="user">
        Logout
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" fixed temporary app>
      <v-list nav dense>
        <v-list-item-group v-model="group" active-class="cyan--text text--accent-4">
          <v-list-item link to="/">
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item v-for="(location, i) in locations" :key="i" link :to="`/location/${location.slug}`">
            <v-list-item-title v-text="location.name"></v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-container v-if="loading" fluid class="pa-0 grey lighten-5" style="height: 100%">
      <v-main style="height: 100%" class="align-center">
        <v-row>
          <v-col class="d-flex justify-center align-center" height="100%">
            <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
            ></v-progress-circular>
          </v-col>
        </v-row>
      </v-main>
    </v-container>

    <v-container v-if="loading === false" fluid class="pa-0 grey lighten-5" style="height: 100%">
      <v-main>
        <router-view/>
      </v-main>
    </v-container>

    <v-footer dark color="blue-grey" padless>
      <v-card flat tile class="blue-grey lighten-1 white--text text-center" width="100%">


        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} — <strong>EUkraine help</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script lang="ts">

import {Component, Inject, Vue} from 'vue-property-decorator'
import LocationInterface from '@/models/LocationInterface'
import LocationRepository from '@/repository/LocationRepository'
import {Action, Getter} from 'vuex-class'
import httpClient from '@/client/httpClient'
import {Axios} from 'axios'
import UserRepository from '@/repository/UserRepository'
import UserInterface from '@/models/UserInterface'

@Component
export default class App extends Vue {

  @Action setLocations!: (locations: Array<LocationInterface>) => void;

  @Action setUser!: (user: UserInterface | null) => void;

  @Action setLoading!: (loading: boolean) => void;

  @Getter user!: UserInterface;

  @Getter loading!: UserInterface;

  @Inject('httpClient') private httpClient!: Axios;

  private locationRepository: LocationRepository = new LocationRepository(this.httpClient);

  private userRepository: UserRepository = new UserRepository(this.httpClient);

  private drawer: Boolean = false;

  private group?: any = null;

  private locations: Array<LocationInterface> = [];

  private async logout() {
    await this.userRepository.logout();
  }

  async created() {
    this.locations = await this.locationRepository.fetchLocations();

    this.setLocations(this.locations);

    if (window.localStorage.getItem('token') !== null) {
      const user = await this.userRepository.getUser();

      this.setUser(user);
    }

    this.setLoading(false);
  }
}

</script>
