<template>
  <v-container fluid>
    <v-row>
      <v-col v-if="page !== null" class="pa-0">
        <v-parallax dark src="@/assets/images/title2.jpeg">
          <v-row align="center" justify="center">
            <v-col class="text-center" cols="12">
              <h1 class="text-h4 font-weight-thin mb-4">
                EU Ukraine help
              </h1>
              <h4 class="subheading">
                We help
              </h4>
            </v-col>
          </v-row>
        </v-parallax>

        <v-container style="background-color: white" class="pa-16 rounded elevation-14 ">
          <v-row>
            <v-col>
              <div v-html="page.content"></div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Inject, Prop, Vue} from 'vue-property-decorator'
import PageRepository from '@/repository/PageRepository'
import PageInterface from '@/models/PageInterface'
import {Axios} from "axios";

@Component
export default class Home extends Vue {

  @Inject('httpClient') private httpClient!: Axios;

  @Prop() slug!:string;

  private page?: PageInterface|null = null;

  private pageRepository: PageRepository = new PageRepository(this.httpClient);

  async mounted() {
    this.page = await this.pageRepository.fetchPage(this.slug);
  }
}

</script>
