<template>
  <v-container fluid>
    <v-row>
      <v-col v-if="location !== undefined" class="pa-0">
        <v-parallax v-if="location.image !== null" dark :src="location.image">
          <v-row align="center" justify="center">
            <v-col class="text-center" cols="12">
              <h1 class="text-h4 font-weight-thin mb-4">
                {{ location.name }}
              </h1>
<!--              <h4 class="subheading">
                We help
              </h4>-->
            </v-col>
          </v-row>
        </v-parallax>

        <v-container style="background-color: white" class="pa-16 rounded elevation-14 ">
          <v-row v-if="location !== undefined">
            <v-col class="mt-16">
              <div v-html="location.content"> </div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Prop, Vue} from 'vue-property-decorator'
import LocationInterface from '@/models/LocationInterface'
import {Getter} from 'vuex-class'

@Component
export default class Location extends Vue {

  @Prop() slug!:string;

  @Getter locationBySlug!: (slug: string) => LocationInterface;

  get location(): LocationInterface|undefined  {
    return this.locationBySlug(this.slug);
  }
}

</script>
