<template>
  <v-container style="background-color: white" class="pa-16 rounded elevation-14 ">
    <v-row>
      <v-col v-if="page !== null">
        <h1 v-html="page.title"> </h1>
        <div v-html="page.content"> </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Inject, Prop, Vue} from 'vue-property-decorator'
import PageRepository from '@/repository/PageRepository'
import PageInterface from '@/models/PageInterface'
import {Axios} from "axios";

@Component
export default class Page extends Vue {

  @Inject('httpClient') private httpClient!: Axios;

  @Prop() slug!:string;

  private page?: PageInterface|null = null;

  private pageRepository: PageRepository = new PageRepository(this.httpClient);

  async mounted() {
    this.page = await this.pageRepository.fetchPage(this.slug);
  }
}

</script>
