<template>
  <v-container fluid v-if="user !== null">
    <v-row>
      <v-col class="pa-0">
        <v-container style="background-color: white" class="pa-16 rounded elevation-14 ">
          <v-row>
            <v-col class="mt-16">
              <v-card>
                <v-card-title>Request a help</v-card-title>

                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation v-if="user !== null">
                    <v-text-field v-model="data.fullName" :disabled="disabled" :rules="nameRules" label="Full name" required/>
                    <v-text-field v-model="data.phone" :disabled="disabled" label="Phone number" required/>
                    <v-text-field v-model="data.location.name" :disabled="disabled" label="Location" required/>

                    <v-textarea v-model="data.comment" :disabled="disabled" label="Comment"/>

                    <v-btn class="mr-4" color="success" :disabled="disabled" @click="submit">Send</v-btn>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Vue} from 'vue-property-decorator'
import {Getter} from 'vuex-class'
import UserInterface from '@/models/UserInterface'
import FormRepository from '@/repository/FormRepository'

@Component
export default class Request extends Vue {

  @Getter user!: UserInterface | null;

  private valid: boolean = true;

  private formRepository: FormRepository = new FormRepository();

  private popup: { show: Boolean, message: string, type: string, color: string } = {
    show: false,
    message: '',
    type: 'success',
    color: 'green'
  };

  private data = {
    fullName: '',
    phone: '',
    location: { id: 0, name: '', content: '', slug: '', image: null },
    comment: '',
  };

  private disabled: boolean = false;

  private nameRules: Array<any> = [
    (v: string) => (!!v || 'Name is required'),
    (v: string) => ((v && v.length >= 2) || 'Name must be more than 3 characters'),
  ];

  get validate(): boolean {
    return (this.$refs.form as Vue & { validate: () => boolean }).validate();
  }

  private mounted() {
    if (this.user === null) {
      this.$router.push('/');
    }

    this.data.fullName = this.user?.firstName + ' ' + this.user?.lastName;
    this.data.location.name = this.user?.location?.name ?? '';
  }

  private submit() {
    this.disabled = true;

    if (this.validate) {
      this.formRepository.postRequestForm(this.data).then((result: boolean) => {
        if (result) {
          this.popup = {
            show: true,
            message: 'Success',
            type: 'success',
            color: 'green',
          }

          setTimeout(() => this.$router.push('/'), 3000);

          return;
        }

        this.popup = {
          show: true,
          message: 'Something went wrong',
          type: 'error',
          color: 'red',
        }

        this.disabled = false;

      }).catch((exception: false) => {
        this.popup = {
          show: true,
          message: 'Something went wrong',
          type: 'error',
          color: 'red',
        };

        this.disabled = false;

        setTimeout(() => this.popup.show = false, 3000);
      });
    }
  }
}

</script>
