<template>
  <v-container>
    <v-row>
      <v-col>
        <v-alert :value="popup.show" :color="popup.color" :type="popup.type" transition="scale-transition">
          {{ popup.message }}
        </v-alert>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col xs="12" sm="12" md="12" lg="6" xl="6">
        <v-card>
          <v-card-title>Sign up</v-card-title>

          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>

              <v-text-field v-model="user.firstName" label="First name" :rules="nameRules" required/>

              <v-text-field v-model="user.lastName" label="Last name" :rules="nameRules" required/>

              <v-text-field v-model="user.email" :rules="emailRules" label="E-mail" required/>

              <v-text-field v-model="user.phone" label="Phone" required/>

              <v-select v-model="user.location" :items="locationNames" :rules="[v => !!v || 'Location is required']" label="Location" required/>

              <v-textarea v-model="user.information" :disabled="disabled" label="Comment"/>

              <v-text-field type="password" v-model="user.password" :rules="passwordRules" label="Password" required/>

              <v-text-field type="password" v-model="user.repeatPassword" :rules="passwordRepeatRules" label="Repeat password" required/>

              <v-radio-group v-model="user.type" row>
                <v-radio label="Refugee" value="refugee"/>
                <v-radio label="Volunteer" value="volunteer"/>
              </v-radio-group>

              <v-btn class="mr-4" color="primary" :disabled="disabled" @click="submit">Sign up</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Inject, Vue} from 'vue-property-decorator'
import {Getter} from 'vuex-class'
import LocationInterface from '@/models/LocationInterface'
import {ValidationObserver, ValidationProvider} from 'vee-validate'
import UserInterface from '@/models/UserInterface'
import UserRepository from '@/repository/UserRepository'
import httpClient from '@/client/httpClient'
import {Axios} from 'axios'

@Component({
  components: {
    ValidationObserver,
    ValidationProvider,
  }
})
export default class SignUp extends Vue {

  @Getter locations!: Array<LocationInterface>;

  @Inject('httpClient') private httpClient!: Axios;

  private userRepository: UserRepository = new UserRepository(this.httpClient)

  private valid: boolean = true;

  private popup: { show: Boolean, message: string, type: string, color: string } = {
    show: false,
    message: '',
    type: 'success',
    color: 'green'
  };

  private disabled: boolean = false;

  private user: UserInterface = {
    firstName: '',
    lastName: '',
    email: '',
    phone: '',
    location: undefined,
    information: '',
    password: '',
    repeatPassword: '',
    type: undefined,
  }

  private nameRules: Array<any> = [
    (v: string) => (!!v || 'Name is required'),
    (v: string) => ((v && v.length >= 2) || 'Name must be more than 3 characters'),
  ];

  private passwordRules: Array<any> = [
    (v: string) => (!!v || 'Password is required'),
    (v: string) => ((v && v.length >= 6) || 'Password must be more than 6 characters'),
  ];

  private passwordRepeatRules: Array<any> = [
    (v: string) => (!!v || 'Password is required'),
    (v: string) => ((v === this.user.password) || 'Passwords is not equal'),
  ];

  private emailRules: Array<any> = [
    (v: any) => !!v || 'E-mail is required',
    (v: any) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
  ];

  get locationNames(): Array<{ text: string, value: string }> {
    let result: Array<{ text: string, value: string }> = [];

    this.locations.forEach(location => result.push({ text: location.name, value: location.slug }));

    return result;
  }

  get validate(): boolean {
    return (this.$refs.form as Vue & { validate: () => boolean }).validate();
  }

  private submit() {
    this.disabled = true;

    if (this.validate) {
      this.userRepository.postUser(this.user).then(() => {
        this.popup = {
          show: true,
          message: 'Success',
          type: 'success',
          color: 'green',
        }

        setTimeout(() => this.$router.push('/'), 5000);
      }).catch(exception => {
        this.popup = {
          show: true,
          message: exception,
          type: 'error',
          color: 'red',
        };

        this.disabled = false;

        setTimeout(() => this.popup.show = false, 5000);
      });
    }
  }
}
</script>
