<template>
  <v-container>
    <v-row>
      <v-col>
        <v-alert :value="popup.show" :color="popup.color" :type="popup.type" transition="scale-transition">
          {{ popup.message }}
        </v-alert>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col xs="12" sm="12" md="12" lg="6" xl="6">
        <v-card>
          <v-card-title>Sign in</v-card-title>

          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field v-model="user.username" :disabled="disabled" :rules="emailRules" label="E-mail" required/>

              <v-text-field type="password" :disabled="disabled" v-model="user.password" :rules="passwordRules" label="Password" required/>

              <v-btn class="mr-4" color="success" :disabled="disabled" @click="submit">Sign in</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Inject, Vue} from 'vue-property-decorator'
import {Action} from 'vuex-class'
import {ValidationObserver, ValidationProvider} from 'vee-validate'
import UserInterface from '@/models/UserInterface'
import UserRepository from '@/repository/UserRepository'
import httpClient from '@/client/httpClient'
import {Axios} from 'axios'

@Component({
  components: {
    ValidationObserver,
    ValidationProvider,
  }
})
export default class SignIn extends Vue {

  @Action setUser!: (user: UserInterface) => void;

  @Inject('httpClient') private httpClient!: Axios;

  private userRepository: UserRepository = new UserRepository(this.httpClient)

  private valid: boolean = true;

  private popup: { show: Boolean, message: string, type: string, color: string } = {
    show: false,
    message: '',
    type: 'success',
    color: 'green'
  };

  private disabled: boolean = false;

  private user: UserInterface = {
    username: '',
    password: '',
  }

  private passwordRules: Array<any> = [
    (v: string) => (!!v || 'Password is required'),
  ];

  private emailRules: Array<any> = [
    (v: any) => !!v || 'E-mail is required',
    (v: any) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
  ];

  get validate(): boolean {
    return (this.$refs.form as Vue & { validate: () => boolean }).validate();
  }

  private submit() {
    this.disabled = true;

    if (this.validate) {
      this.userRepository.login(this.user).then(token => {
        if (token !== null) {
          window.localStorage.setItem('token', token);

          this.popup = {
            show: true,
            message: 'Success',
            type: 'success',
            color: 'green',
          }

          setTimeout(() => window.location.href = '/', 3000);

          return;
        }

        this.popup = {
          show: true,
          message: 'Something went wrong',
          type: 'error',
          color: 'red',
        }

        this.disabled = false;

      }).catch(exception => {
        this.popup = {
          show: true,
          message: exception,
          type: 'error',
          color: 'red',
        };

        this.disabled = false;

        setTimeout(() => this.popup.show = false, 3000);
      });
    }
  }
}
</script>
