<template>
  <v-container style="background-color: white" class="pa-16 rounded elevation-14 ">
    <v-row>
      <v-col>
        <v-card v-for="(user, key) in users" :key="key" class="mx-auto ma-10" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="text-overline mb-4">
                {{ user.location.name }}
              </div>
              <v-list-item-title class="text-h5 mb-1">
                {{ user.firstName }} {{ user.lastName }}
              </v-list-item-title>
              <v-list-item-subtitle>{{ user.information }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
          </v-list-item>

          <v-card-actions>
            <v-btn link :href="'tel:' + user.phone" outlined rounded text>
              {{ user.phone }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

import {Component, Inject, Prop, Vue} from 'vue-property-decorator'
import {Axios} from "axios";
import UserRepository from "@/repository/UserRepository";
import UserInterface from "@/models/UserInterface";
import {Getter} from "vuex-class";

@Component
export default class Volunteers extends Vue {

  @Inject('httpClient') private httpClient!: Axios;

  @Getter user!: UserInterface | null;

  private userRepository: UserRepository = new UserRepository(this.httpClient);

  private users: Array<UserInterface> = [];

  private async mounted() {
    if (this.user === null) {
      await this.$router.push('/');
    }

    this.users = await this.userRepository.getVolunteers();
  }

}

</script>
